venv
.DS_Store

__pycache__/
*.py[cod]
*$py.class

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

read_manga.csv
final_data.csv
model_df.csv
manga_recommendation_database.sqlite
manganato_url_cache.txt
