<!doctype html>
<html>
    <head>
        <title>Manga Recommendation Model</title>
        <style>
            body {
                background-color: #261C2C;
                font-family: Helvetica, Arial, sans-serif;
                text-align: center;
            }
            h1 {
                color: #fafafa;
                text-align: center;
                font-size: 36px;
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <h1>There seems to be something wrong</h1>
        {{ error|safe }}
        <h3></h3>
        <h1>Please try another option, or try again later</h1>
    </body>
</html>