<!doctype html>
<html>
    <head>
        <title>Manga Recommendation Model</title>
        <style>
            body {
                background-color: #261C2C;
                font-family: Helvetica, Arial, sans-serif;
                text-align: center;
            }
            h3 {
                color: #fafafa;
                font-size: 20px;
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <h3>No rating was found for the title you searched for</h3>
        <h3>It's possible that the title has been rated using the Japanese name, or with a different translated title</h3>
        <h3>It's recommended to try other variations if the title is not found</h3>
    </body>
</html>